@import "variables";
@import "mixins/button";
$show-item-color-bg: #e8e8e1;
$show-acept-border-color: #cecebf;
.show-list-page{
  .notify-list{
    margin-bottom: 10px;
    .notify-item{
      padding: 5px 0;
      border-bottom: 1px dotted $color-silver-dark;
      &:last-child{
        border: none;
      }
      .notify-tt{
        font-weight: bold;
        color: $color-green-dark;
        margin: 0;
      }
      .notify-ct{
        padding-left: 20px;
        line-height: 1.9;
      }
      .notify-dt{
        margin-right: 10px;
        padding: 3px 5px;
        line-height: 1;
        color: $color-red-plain;
        background-color: $color-white-opaque-1;
      }
    }
  }
  .show-list {
    .rs-image{
      &.no-image{
        &::after{
          display: none;
        }
      }
      position: relative;
      &::after{
        content: '';
        height: 30px;
        width: 30px;
        border: 3px solid #000;
        border-right-color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        display: none;
        -webkit-animation: rs-spinner infinite 1s linear;
        -o-animation: rs-spinner infinite 1s linear;
        animation: rs-spinner infinite 1s linear;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        margin-top: -15px;
        margin-left: -15px;
      }
      &.loading{
        &::after{
          display: block;
        }
      }
    }
    .show-item {
      display: block;
      margin: 10px 0;
      background-color: $show-item-color-bg;
      clear: both;
      padding: 5px;
      .col-show {
        padding: 5px;
        float: left;
        min-width: 100px;
      }
      .row-show {
        clear: both;
      }
      .show-top {
        padding: 10px 0;
      }
      .show-body {
        padding: 5px;
        border: 1px solid $show-acept-border-color;
      }
      .show-main-tt{
        width: 30%;
      }
      .show-date{
        width: 15%;
      }
      .show-type{
        width: 10%;
      }
      .show-status{
        width: 10%;
      }
      .show-hall{
        width: 15%;
      }
      .show-button{
        width: 150px;
      }
      .show-desc{
        width: calc(100% - 150px);
      }
      .show-accept-item {
        border: 1px solid #ccc;
        margin: 5px 0;
        clear: both;
        .show-main-tt{
          width: 50%;
        }
        .show-date{
          width: 25%;
        }
        .show-status{
          width: 25%;
        }
      }
      .slot-seat {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 0px 8px;
        border: 2px solid #47499d;
        border-radius: 5px;
        background: #ffffff;
        font: italic normal normal 14px arial;
        color: #5456b9;
        text-decoration: none;
        padding: 2px 3px;
      }
    }
  }
}
@keyframes rs-spinner {
  0%{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
