/* COMPLETE SETTING PASSWORD 専用 */

.container {
  clear: both;
  max-width: 1230px !important;
  height: 600px;
  .login-head {
    font-size: 1.1em;
    text-align: center;
    background-color: #686859;
    border-color: white;
    box-shadow: none;
    padding: 3px 0px 0px 20px;
    margin-bottom: 15px;
    color: #686859 !important;
    height: 30px;
  }

  h3 {
    font-style: normal;
    font-weight:normal;
    font-size: 1em;
    padding: 0px 20% 0px 20%;
    margin:  0px 0px 0px 0px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .center-align {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;

    a {
      color: blue;

    }
    a:hover {
      color: red !important;
    }

    a:visited {
      color: blue;
    }

    button {
      color: #f1f1ed;
      display: block;
      width: 176px;
      height: 46px;
      margin: 10px auto;
      font-size: 1.0em;
      border: none;
      background: #174A52;
    }

    button:hover {
      display: block;
      width: 176px;
      height: 46px;
      margin: 10px auto;
      font-size: 1.0em;
      border: none;
      background: green;
      cursor: pointer;
    }

    table {
      border: 1px solid;
      margin: 10px 0px 1px 0px;
      float: "left";

      th {
        text-align:center;
        padding-top: 1%;
      }

      td {
        padding: 7px 20% 0px 3% !important;
        width: 25%;
        font-size: 1.2em;
        float: center;
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  .container {

    .login-head {
      font-size: 1.3em;
      text-align: center;
      background-color: #686859;
      border-color: white;
      box-shadow: none;
      padding: 3px 0px 0px 20px;
      margin-bottom: 15px;
      color: #686859 !important;
      height: 30px;
    }

    h3 {
      font-style: normal;
      font-weight:normal;
      font-size: 0.7em;
      padding: 0px 5% 0px 5%;
      margin:  0px 0px 0px 0px;
    }

    .center-align {
      display: block;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;

      a {
        color: blue;

      }
      a:hover {
        color: red !important;
      }

      a:visited {
        color: blue;
      }

      button {
        color: #f1f1ed;
        display: block;
        width: 80px;
        height: 25px;
        margin: 10px auto;
        font-size: 0.6em;
        border: none;
        background: #174A52;
      }

      button:hover {
        display: block;
        width: 80px;
        height: 25px;
        margin: 10px auto;
        font-size: 1.0em;
        border: none;
        background: green;
        cursor: pointer;
      }

      table {
        display: block;
        width: 100%;
        border: 1px solid;
        margin: 5px auto;
        padding: 0% 10% 0% 0% !important;

        th {
          font-size: 0.8em;
          text-align:center;
          padding-top: 1%;
        }

        td {
          padding: 7px 20% 0px 3% !important;
          width: 25%;
          font-size: 0.7em;
          float: center;
        }
      }
    }
  }
}
